baseURL: https://www.vitalcontrol.de/
title: Urban VitalControl

# Language settings
contentDir: content/de
defaultContentLanguage: de
defaultContentLanguageInSubdir: false

# Useful when translating
enableMissingTranslationPlaceholders: true

enableRobotsTXT: true

# Will give values to .Lastmod etc.
enableGitInfo: true

pygmentsCodeFences: true
pygmentsUseClasses: false
# Use the new Chroma Go highlighter in Hugo.
pygmentsUseClassic: false
#pygmentsOptions: linenos=table
# See https://help.farbox.com/pygments.html
pygmentsStyle: tango

# Configure how URLs look like per section.
permalinks:
  blog: "/:section/:year/:month/:day/:slug/"

markup:
  goldmark:
    parser:
      attribute:
        block: true
    renderer:
      unsafe: true
  highlight:
    # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
    style: tango
    # Uncomment if you want your chosen highlight style used for code blocks without a specified language
    # guessSyntax: true

# Comment out '-print' if you don't want the "print entire section" link enabled.
outputs:
  section:
   - HTML
   - print
   - RSS

security:
  http:
    mediaTypes: ['^application/javascript']

# hugo module configuration

module:
  # workspace: hugo.work
  mounts:
    - source: static/demo
      target: static/en/demo
      sites:
        matrix:
          languages: en
    - source: static/demo
      target: static/bs/demo
      sites:
        matrix:
          languages: bs
    - source: static/demo
      target: static/bg/demo
      sites:
        matrix:
          languages: bg
    - source: static/demo
      target: static/cs/demo
      sites:
        matrix:
          languages: cs
    - source: static/demo
      target: static/da/demo
      sites:
        matrix:
          languages: da
    - source: static/demo
      target: static/el/demo
      sites:
        matrix:
          languages: el
    - source: static/demo
      target: static/es/demo
      sites:
        matrix:
          languages: es
    - source: static/demo
      target: static/et/demo
      sites:
        matrix:
          languages: et
    - source: static/demo
      target: static/fi/demo
      sites:
        matrix:
          languages: fi
    - source: static/demo
      target: static/fr/demo
      sites:
        matrix:
          languages: fr
    - source: static/demo
      target: static/hr/demo
      sites:
        matrix:
          languages: hr
    - source: static/demo
      target: static/hu/demo
      sites:
        matrix:
          languages: hu
    - source: static/demo
      target: static/it/demo
      sites:
        matrix:
          languages: it
    - source: static/demo
      target: static/lt/demo
      sites:
        matrix:
          languages: lt
    - source: static/demo
      target: static/lv/demo
      sites:
        matrix:
          languages: lv
    - source: static/demo
      target: static/nl/demo
      sites:
        matrix:
          languages: nl
    - source: static/demo
      target: static/no/demo
      sites:
        matrix:
          languages: "no"
    - source: static/demo
      target: static/pl/demo
      sites:
        matrix:
          languages: pl
    - source: static/demo
      target: static/pt/demo
      sites:
        matrix:
          languages: pt
    - source: static/demo
      target: static/ro/demo
      sites:
        matrix:
          languages: ro
    - source: static/demo
      target: static/ru/demo
      sites:
        matrix:
          languages: ru
    - source: static/demo
      target: static/sl/demo
      sites:
        matrix:
          languages: sl
    - source: static/demo
      target: static/sv/demo
      sites:
        matrix:
          languages: sv
    - source: static/demo
      target: static/tr/demo
      sites:
        matrix:
          languages: tr
    - source: static/demo
      target: static/uk/demo
      sites:
        matrix:
          languages: uk
    - source: static/demo
      target: static/zh/demo
      sites:
        matrix:
          languages: zh
    - source: static
      target: static
  hugoVersion:
    extended: true
    min: 0.153.0
  imports:
    - path: github.com/google/docsy
      disable: false
